# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
!.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.vscode
packages/cms/content.config.js
packages/cms/content.config.d.ts
packages/cms/.content-collections/cache

# Docker
postgres_data/
.env*.local
!.env.local
!.env.staging

# turbo
/.turbo
**/.turbo
**/node_modules

